.Table-Row-Color{
  color: aqua;
}

.ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-thead > tr > th{
  border: none;
  color: mediumturquoise;
  font-weight: bold;
  
}

.center-div{
  margin:0 auto; width:600px;height:350px;
}

.ant-modal-content .ant-modal-header .ant-modal-title .ant-modal-body .ant-modal-footer {
  background:#021114;
  color:"#1DA5C0";
}

/* .modal-json  .ant-modal-content {
    position: relative;
    background-color: #00000000 !important;
    border: 0;
    border-radius: 4px;
    background-clip: padding-box;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
  } */

  .modal-json .ant-modal  .ant-modal-body {
    padding: 0 !important;
    font-size:16 !important;
    line-height: 1 !important;
  }
